<?xml version="1.0" encoding="UTF-8"?>
<Configuration status="WARN">
    <Appenders>

        <File name="QueriesFile" fileName="logs/queries.log" append="false">
            <PatternLayout>
                <Pattern>%d{ISO8601} [%t] %-5p %c{1}:%L - %m%n</Pattern>
            </PatternLayout>
        </File>

        <File name="ErrorsFile" fileName="logs/errors.log" append="false">
            <PatternLayout>
                <Pattern>%d{ISO8601} [%t] %-5p %c{1}:%L - %m%n</Pattern>
            </PatternLayout>
        </File>
    </Appenders>

    <Loggers>

        <Logger name="queries" level="info" additivity="false">
            <AppenderRef ref="QueriesFile"/>
        </Logger>

        <Logger name="errors" level="error" additivity="false">
            <AppenderRef ref="ErrorsFile"/>
        </Logger>

        <Root level="info">
            <AppenderRef ref="QueriesFile"/>
        </Root>
    </Loggers>
</Configuration>
